<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/css/style.css" rel="stylesheet" />
<title>Insert title here</title>
</head>
<body>
  
  <header>
    <h1>EC Site -- 管理者ページ</h1>
  </header>
  
  <div id="adminPage">
    <h2>管理者ログイン</h2>
    <form name="loginForm" method="post" action="/ecsite/admin/welcome">
      <p>ユーザー名:<input type="text" name="userName" /></p>
      <p>パスワード:<input type="password" name="password" /></p>
      <button type="submit">ログイン</button>
    </form>
    <p class="error" th:text="${errMessage}"></p>
  </div>
</body>
</html>